/* Main CSS File */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}

body {
  @apply box-border bg-gray-900 text-gray-100;
}

.btn-primary {
  @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

.aboutImg::after {
  @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-600 -z-10;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

input,
textarea {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}

::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-cyan-600;
}

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }

  .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
  }

  .bgOpacity {
    @apply bg-black bg-opacity-40;
  }

  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
  }

  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
  }
}

.active {
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.blob {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background: url('../src/assets/personal/refat.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  animation: blob 3.7s linear infinite;
}

@keyframes blob {
  0%, 100% {
      border-radius:
          42% 56% 72% 28% / 42% 42% 56% 48%;
  }

  33% {
      border-radius:
          42% 28% 48% 48% / 28% 28% 72% 72%;
  }

  66% {
      border-radius:
          100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}